@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-black">
            <div class="social-links">
                <SocialLink Href="https://github.com/MatheusDateu" Icon="fab fa-github" Text="Confira meu Perfil no GitHub" />
                <SocialLink Href="https://www.linkedin.com/in/matheus-delmondes-7260b6221/" Icon="fab fa-linkedin" Text="Confira meu Perfil no LinkedIn" />
                <SocialLink Href="mailto:mdelmondes5@gmail.com" Icon="fas fa-envelope" Text="Confira meu Email" />
                <SocialLink Href="https://www.instagram.com/dev_matheusdelmondes/" Icon="fab fa-instagram" Text="Confira meu Perfil no Instagram" />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .top-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        background-color: #333;
    }

    .social-links {
        display: flex;
        gap: 10px;
    }

    .social-link {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        transition: color 0.3s ease;
    }

    .social-text {
        position: absolute;
        right: 100%; /* Posiciona o texto à esquerda do ícone */
        margin-right: 10px; /* Espaço entre o texto e o ícone */
        white-space: nowrap;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        color: #fff;
    }

    .social-link:hover .social-text {
        opacity: 1;
        transform: translateX(0);
    }

    .social-link i {
        font-size: 30px;
        border-radius: 50%;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .social-link:hover i {
        transform: translateX(-110px); /* Empurra o ícone para a direita o suficiente para mostrar o texto */
        filter: brightness(1.2);
    }
</style>