@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-black">
            <div class="social-links">
                <SocialLink Href="https://github.com/MatheusDateu" Icon="fab fa-github" />
                <SocialLink Href="https://www.linkedin.com/in/matheus-delmondes-7260b6221/" Icon="fab fa-linkedin" />
                <SocialLink Href="mailto:mdelmondes5@gmail.com" Icon="fas fa-envelope" />
                <SocialLink Href="https://www.instagram.com/dev_matheusdelmondes/" Icon="fab fa-instagram" />
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .top-row {
        display: flex;
        -o-justify-content: flex-end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -ms-align-items: center;
        -o-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        padding: 20px;
        background-color: #333;
    }

    .social-links {
        display: flex;
        gap: 5px;
    }

    .social-link {
        display: flex;
        -ms-align-items: center;
        -o-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        -o-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        text-decoration: none;
        color: white;
        -ms-transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
        -o-transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
        -webkit-transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
        transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    }

    .social-link i {
        font-size: 25px;
        -ms-transition: transform 0.3s ease, color 0.3s ease;
        -o-transition: transform 0.3s ease, color 0.3s ease;
        -webkit-transition: transform 0.3s ease, color 0.3s ease;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .social-link:hover {
        color: #f1f1f1;
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: 0px 5px 15px rgba(0, 55, 110, 1);
    }

    .social-link:hover i {
        color: lightgray; /* Escolha uma cor que combine */
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>