<div id="main-app-navbar" class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Matheus Delmondes</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable nav-tabs" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link texto-nav-menu" href="" Match="NavLinkMatch.All">
                <span class="icone-nav-menu" aria-hidden="true">🏠</span> Início
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link texto-nav-menu" href="guess-number">
                <span class="icone-nav-menu" aria-hidden="true">🧞</span> Jogo de Adivinhação
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link texto-nav-menu" href="cross-game">
                <span class="icone-nav-menu" aria-hidden="true">👵</span> Jogo da Velha
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link texto-nav-menu" href="formatter">
                <span class="icone-nav-menu" aria-hidden="true">🔃</span> Formata Dados
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .icone-nav-menu {
        font-size: 1.5rem;
        margin-right: .2rem;
    }
    .texto-nav-menu {
        font-size: 1rem;
    }

    #main-app-navbar{
        padding: 14px 0px !important;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
