@inherits ComponentBase

<section id="sobre" class="section">
    <h2>🧑🏻‍💻 Sobre Matheus Delmondes</h2>
    <p>👋 Olá! Sou Matheus Delmondes da Conceição, um apaixonado por tecnologia e inovação. Atualmente, estou no último ano do curso de Bacharelado em Análise e Desenvolvimento de Sistemas no IFRR, onde tenho desenvolvido habilidades que me permitem enfrentar desafios complexos com criatividade e eficiência.</p>

    <p>💻 Desde 2018, estou imerso no universo das tecnologias .NET e automação, construindo um sólido conhecimento em C# e .NET. Minha jornada profissional também inclui uma valiosa experiência com Java, que complementa minha capacidade de desenvolver soluções robustas e eficazes.</p>

    <p>🔍 Minha busca incessante pelo conhecimento me levou a explorar Python, onde apliquei essa linguagem poderosa em projetos de automação, RPA (Robotic Process Automation), Machine Learning e Inteligência Artificial. Além disso, adquiri uma sólida compreensão de TypeScript, Angular e JavaScript, utilizando tanto Node.js quanto React para criar aplicações web dinâmicas e responsivas.</p>

    <p>🚀 Minha página de portfólio é uma vitrine do meu trabalho e das tecnologias que domino. Aqui, você encontrará detalhes sobre meus projetos mais significativos, desde automações complexas até aplicações web modernas. Cada projeto é uma demonstração do meu compromisso com a excelência, inovação e a busca por soluções que realmente fazem a diferença.</p>

    <p>💼 Acredito que um desenvolvedor de verdade deve estar sempre preparado para enfrentar qualquer tecnologia ou desafio. Minha trajetória é marcada pela determinação em aprender e evoluir continuamente, e estou sempre pronto para aplicar esse conhecimento em novos projetos e oportunidades.</p>

    <p>🌐 Convido você a explorar meu portfólio e conhecer mais sobre minhas habilidades, experiências e os projetos que me apaixonam. Vamos juntos descobrir como posso contribuir para o sucesso de sua próxima grande ideia.</p>

    <p>📞 Estou sempre disponível para um bate-papo sobre tecnologia, oportunidades de colaboração ou apenas para compartilhar conhecimentos. Entre em contato comigo pelo LinkedIn, email ou Instagram.</p>
</section>