@inherits ComponentBase

<section id="experiencias" class="section">
    <h2>📈 Experiências</h2>
    <ul class="nav nav-tabs" id="experienceTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="delmondeslabs-tab" data-bs-toggle="tab" data-bs-target="#delmondeslabs" type="button" role="tab" aria-controls="delmondeslabs" aria-selected="true">Delmondes Labs - 06/2018 - Atual</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="intcom-tab" data-bs-toggle="tab" data-bs-target="#intcom" type="button" role="tab" aria-controls="intcom" aria-selected="true">Intcom - 11/2025 - Atual</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="dti-tab" data-bs-toggle="tab" data-bs-target="#dti" type="button" role="tab" aria-controls="dti" aria-selected="true">DTI/IFRR - 08/2025 - 11/2025</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="vanaciprime-tab" data-bs-toggle="tab" data-bs-target="#vanaciprime" type="button" role="tab" aria-controls="vanaciprime" aria-selected="true">VanaciPrime - 04/2025 - 10/2025</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="hypeone-tab" data-bs-toggle="tab" data-bs-target="#hypeone" type="button" role="tab" aria-controls="hypeone" aria-selected="true">HypeOne - 08/2024 - 01/2025</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="sonda-tab" data-bs-toggle="tab" data-bs-target="#sonda" type="button" role="tab" aria-controls="sonda" aria-selected="true">Sonda - 02/2023 - 08/2024</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="narwal-tab" data-bs-toggle="tab" data-bs-target="#narwal" type="button" role="tab" aria-controls="narwal" aria-selected="false">Narwal Tecnologia LTDA - 2023</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="imperio-tab" data-bs-toggle="tab" data-bs-target="#imperio" type="button" role="tab" aria-controls="imperio" aria-selected="false">Império IT - 2022 - 2023</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="stirr-tab" data-bs-toggle="tab" data-bs-target="#stirr" type="button" role="tab" aria-controls="stirr" aria-selected="false">STIRR - 2022</button>
        </li>
    </ul>
    <div class="tab-content" id="experienceTabsContent">
        <div class="tab-pane fade active show" id="delmondeslabs" role="tabpanel" aria-labelledby="delmondeslabs-tab">
            <div class="experience">
                <h3>Delmondes Labs</h3>
                <p><strong>Período:</strong> Junho de 2018 - Atual</p>
                <p><strong>Cargo:</strong> Prestação de Serviços em TI</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto X: Em breve... <a href="link-projeto-x">Veja mais</a></li>
                    <li>Projeto Y: Em breve... <a href="link-projeto-y">Veja mais</a></li>
                    <li>Projeto Z: Em breve... <a href="link-projeto-z">Veja mais</a></li>

                </ul>
            </div>
        </div>

        <div class="tab-pane fade" id="intcom" role="tabpanel" aria-labelledby="intcom-tab">
            <div class="experience">
                <h3>Intcom</h3>
                <p><strong>Período:</strong> Junho de 2018 - Atual</p>
                <p><strong>Cargo:</strong> Prestação de Serviços em TI</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto X: Em breve... <a href="link-projeto-x">Veja mais</a></li>
                    <li>Projeto Y: Em breve... <a href="link-projeto-y">Veja mais</a></li>
                    <li>Projeto Z: Em breve... <a href="link-projeto-z">Veja mais</a></li>

                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="dti" role="tabpanel" aria-labelledby="dti-tab">
            <div class="experience">
                <h3>Departamento de TI do IFRR</h3>
                <p><strong>Período:</strong> Junho de 2018 - Atual</p>
                <p><strong>Cargo:</strong> Prestação de Serviços em TI</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto X: Em breve... <a href="link-projeto-x">Veja mais</a></li>
                    <li>Projeto Y: Em breve... <a href="link-projeto-y">Veja mais</a></li>
                    <li>Projeto Z: Em breve... <a href="link-projeto-z">Veja mais</a></li>

                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="vanaciprime" role="tabpanel" aria-labelledby="vanaciprime-tab">
            <div class="experience">
                <h3>Vanaci Prime</h3>
                <p><strong>Período:</strong> Junho de 2018 - Atual</p>
                <p><strong>Cargo:</strong> Prestação de Serviços em TI</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto X: Em breve... <a href="link-projeto-x">Veja mais</a></li>
                    <li>Projeto Y: Em breve... <a href="link-projeto-y">Veja mais</a></li>
                    <li>Projeto Z: Em breve... <a href="link-projeto-z">Veja mais</a></li>

                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="hypeone" role="tabpanel" aria-labelledby="hypeone-tab">
            <div class="experience">
                <h3>HypeOne</h3>
                <p><strong>Período:</strong> Junho de 2018 - Atual</p>
                <p><strong>Cargo:</strong> Prestação de Serviços em TI</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                    <li>Em breve...</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto X: Em breve... <a href="link-projeto-x">Veja mais</a></li>
                    <li>Projeto Y: Em breve... <a href="link-projeto-y">Veja mais</a></li>
                    <li>Projeto Z: Em breve... <a href="link-projeto-z">Veja mais</a></li>

                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="sonda" role="tabpanel" aria-labelledby="sonda-tab">
            <div class="experience">
                <h3>Sonda</h3>
                <p><strong>Período:</strong> Janeiro 2023 - Atual</p>
                <p><strong>Cargo:</strong> Engenheiro de Software</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Desenvolvimento e manutenção de aplicações WEB utilizando .NET e C#.</li>
                    <li>Implementação de soluções de automação de processos utilizando UiPath.</li>
                    <li>Colaboração com equipes de diferentes setores para identificar e resolver problemas técnicos.</li>
                    <li>Participação em projetos de modernização de sistemas legados.</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto CCN: Sistema de Cadastro de Casos de Negócios <a href="link-projeto-x">Veja mais</a></li>
                    <li>Projeto AUTOMAJUS: Projeto vencedor do INOVAJURR 2023 <a href="link-projeto-y">Veja mais</a></li>
                    <li>Projeto Bot Mestre VCV: Automação Central da "Vara de Crimes Contra Vulneráveis" <a href="link-projeto-y">Veja mais</a></li>
                    <li>Projeto Bot Mestre SUVIJ: Automação Central da "Secretaria Unificada da Infância e Juventude" <a href="link-projeto-y">Veja mais</a></li>

                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="narwal" role="tabpanel" aria-labelledby="narwal-tab">
            <div class="experience">
                <h3>Narwal Tecnologia LTDA</h3>
                <p><strong>Período:</strong> Março 2023 - Dezembro 2023</p>
                <p><strong>Cargo:</strong> Engenheiro de Software</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Desenvolvimento de APIs RESTful utilizando Java e Spring Boot.</li>
                    <li>Criação de soluções de backend escaláveis e seguras.</li>
                    <li>Melhoria na performance de sistemas existentes através de análise e otimização de código.</li>
                    <li>Trabalho em equipe para definição de requisitos e planejamento de projetos.</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto A: Descrição breve do projeto <a href="link-projeto-a">Veja mais</a></li>
                    <li>Projeto B: Descrição breve do projeto <a href="link-projeto-b">Veja mais</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="imperio" role="tabpanel" aria-labelledby="imperio-tab">
            <div class="experience">
                <h3>Império IT</h3>
                <p><strong>Período:</strong> Janeiro 2022 - Janeiro 2023</p>
                <p><strong>Cargo:</strong> Engenheiro de Software</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Desenvolvimento de APIs RESTful utilizando Java e Spring Boot.</li>
                    <li>Criação de soluções de backend escaláveis e seguras.</li>
                    <li>Melhoria na performance de sistemas existentes através de análise e otimização de código.</li>
                    <li>Trabalho em equipe para definição de requisitos e planejamento de projetos.</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto C: Descrição breve do projeto <a href="link-projeto-c">Veja mais</a></li>
                    <li>Projeto D: Descrição breve do projeto <a href="link-projeto-d">Veja mais</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="stirr" role="tabpanel" aria-labelledby="stirr-tab">
            <div class="experience">
                <h3>STIRR - Soluções em Tecnologia da Informação</h3>
                <p><strong>Período:</strong> Janeiro 2022 - Dezembro 2022</p>
                <p><strong>Cargo:</strong> Analista de Sistemas</p>
                <p><strong>Contribuições:</strong></p>
                <ul>
                    <li>Desenvolvimento de APIs RESTful utilizando Java e Spring Boot.</li>
                    <li>Criação de soluções de backend escaláveis e seguras.</li>
                    <li>Melhoria na performance de sistemas existentes através de análise e otimização de código.</li>
                    <li>Trabalho em equipe para definição de requisitos e planejamento de projetos.</li>
                </ul>
                <p><strong>Destaques:</strong></p>
                <ul>
                    <li>Projeto E: Descrição breve do projeto <a href="link-projeto-e">Veja mais</a></li>
                    <li>Projeto F: Descrição breve do projeto <a href="link-projeto-f">Veja mais</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>