@page "/formatter"
@using BlazorDeploy.Pages.FormatterComponents
@inject IJSRuntime JS

<PageTitle>Formata Dados</PageTitle>

<ul class="nav nav-tabs d-flex justify-content-center" id="formatterTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="adiciona-caracteres-tab" data-bs-toggle="tab" data-bs-target="#adiciona-caracteres" type="button" role="tab" aria-controls="adiciona-caracteres" aria-selected="false">
            Adicionador de Caracteres
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="remove-caracteres-tab" data-bs-toggle="tab" data-bs-target="#remove-caracteres" type="button" role="tab" aria-controls="remove-caracteres" aria-selected="true">
            Removedor de Caracteres
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="altera-caracteres-tab" data-bs-toggle="tab" data-bs-target="#altera-caracteres" type="button" role="tab" aria-controls="altera-caracteres" aria-selected="false">
            Alterador de Caracteres
        </button>
    </li>
</ul>

<div class="tab-content" id="formatterTabsContent">
    <RemoveCharacters classes="tab-pane fade show active" id="remove-caracteres" ariaLabelledBy="remove-caracteres-tab" />
    <AddCharacters classes="tab-pane fade" id="adiciona-caracteres" ariaLabelledBy="adiciona-caracteres-tab" />
    <ReplaceCharacters classes="tab-pane fade" id="altera-caracteres" ariaLabelledBy="altera-caracteres-tab" />
</div>

<style>
    .nav-tabs .nav-link {
        border: none;
        border-bottom: 2px solid transparent;
        color: #333;
        transition: color 0.3s ease, border-bottom-color 0.3s ease;
    }

        .nav-tabs .nav-link:hover {
            color: white;
            background-color: black;
            transition: ease-in-out 0.5s;
        }

        .nav-tabs .nav-link.active {
            color: black;
            border-bottom-color: black;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .nav-tabs .nav-link.active:hover {
                color: lightskyblue;
                box-shadow: 0 6px 12px rgba(0, 85, 255, 0.5);
            }

    .tab-content {
        margin-top: 20px;
    }
</style>